# Flutter/Dart/Pub 相关
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Android 相关
**/android/**/gradle-wrapper.jar
**/android/.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS 相关
**/ios/Flutter/.last_build_id
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/App.framework
**/ios/Flutter/ephemeral/
**/ios/.symlinks/
**/ios/Pods/
**/ios/Podfile.lock
**/.xcuserstate
ios_flutter_app/Pods/




# IDE 配置文件
.idea/
.vscode/
*.iml

# 其他
*.log
*.lock
*.tmp
*.swp
*.swo
*.DS_Store


