# Flutter/Dart/Pub 相关
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
.last_build_id
.build_ios/

# Android 相关
android/gradle-wrapper.jar
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/GeneratedPluginRegistrant.java
android/app/debug
android/app/profile
android/app/release


# iOS 相关
ios/Flutter/.last_build_id
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/ephemeral/
ios/.symlinks/
ios/Pods/
ios/Podfile.lock
.xcuserstate
ios_flutter_app/Pods/
xcshareddata
xcuserdata


# IDE 配置文件
.idea/
.vscode/
*.iml
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
*.ipr
*.iws
.idea/

# 其他
*.log
*.lock
*.tmp
*.swp
*.DS_Store
*.class
*.log
*.pyc
app.*.symbols
app.*.map.json



weekly_report.md
weekly_report_summary.md
